{% extends 'base.html' %}

{% block content %}

<p>{{blog.content|safe}}</p>
<p>{{blog.date_posted}}</p>
<p>{{blog.user_id.username}}</p>
{% if current_user.id == blog.user_id %}
<a href="/delete/blog/{{blog.id}}" class="btn btn-md btn-outline-danger">Delete</a> 
<a href="{{url_for('.update', id = blog.id)}}" class="btn btn-md btn-outline-primary">Edit</a>
{% endif %}
<a href="{{url_for('.comment', id = blog.id)}}">Comment</a>
<a href="/">Return to all blogs</a>

{% if comments %}
<h1>Comments</h1>
{% for comment in comments %}
<p>{{comment.comment | safe}}</p>
<em>{{comment.commentor.username}}</em>
{% if current_user.id == blog.user_id %}
      <a href="/delete/comment/{{comment.id}}" class="btn btn-md btn-outline-danger">Delete</a>
      {% endif %}
{% endfor %}
{% endif %}

{% endblock %}